version: 2
jobs:
  build:
    parallelism: 1
    docker:
      - image: circleci/elixir:1.12
        environment:
          MIX_ENV: test

    working_directory: ~/app

    steps:
      - checkout
      - run: mix do deps.get, compile
      - run: mix local.hex --force
      - run: mix local.rebar --force
      - run: mix test
      - store_test_results:
          path: _build/test/lib/elixir_learning
